h1,
h2,
li,
p,
button {
  font-family: "Inter", sans-serif;
}

html {
    font-size: 14px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-size: 4rem;
    text-align: center;
    font-weight: 600;
}

h2 {
    font-size: 2.6rem;
    font-weight: 600;
    text-decoration-line: underline;
    display: inline-block;
    margin: 0 auto;
    text-align: end;
}

button {
    margin-top: 0;
    font-size: 2rem;
    font-weight: 600;
    color: #000000;
    padding: 0.6rem 2.5rem;
    border-radius: 0.7rem;
    box-shadow: 4px 4px black;
    margin-left: 3rem;
    text-decoration: none;
    transition: transform linear 100ms;
}

button:active {
    box-shadow: none;
    transform: translate(4px, 4px);
    -moz-transform: translate(4px, 4px);
    -webkit-transform: translate(4px, 4px);
}

code {
    font-family: "JetBrains Mono", monospace;
    text-decoration-line: underline;
}


li, p {
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0;
}

ul {
    margin: 0;
    flex: 3;
}

main {
    border: 1px solid red;
    width: 70rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

section {
    display: flex;
    height: 21.5rem;
    align-items: center;
}

.superiore {
    margin-left: 1rem;
    margin-bottom: 1rem;
    flex: 1;
}

.testo {
    padding: 0 2rem;
    flex: 4;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.img {
    flex: 2;
    max-width: 30rem;
    object-fit: contain;
}

@media screen and (max-width: 1050px) {
    html {
        font-size: 12px;
    }
}

@media screen and (max-width: 880px) {
    html {
        font-size: 10px;
    }
}

@media screen and (max-width: 700px) {
    main {
        width: 90vw;
    }

    section {
       flex-direction: column;
       height: auto;
    }
    .superiore {
        margin-top: 2rem;
    }
}

@media screen and (max-width: 450px) {
    .superiore {
        flex-direction: row;
    }

.img {
    max-width: 25rem;
}
}

